.loggedin-name {
    font-size: 14px;
    font-weight: 500;
    line-height: 17.51px;
    text-align: left;
}

.role {
    font-size: 12px;
    font-weight: 400;
    line-height: 15.01px;
    text-align: left;

}