.flex-container {
    display: flex;
}

.sidebar-container {
    background-color: #fff;
    /* box-shadow: 0px 0px 1px 0px rgba(14, 30, 64, 0.31); */
    box-shadow: 0px 1px 1px 0px rgba(14, 30, 64, 0.25);
    max-width: 72px;
    min-width: 72px;
}

.maincontent-container {
    /* max-width: calc(100vw - 72px); */
    background-color: #fff;
    box-shadow: 0px 0px 1px 0px rgba(14, 30, 64, 0.31);
    box-shadow: 0px 1px 1px 0px rgba(14, 30, 64, 0.25);
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

.header-container {
    min-height: 64px;
    padding: 0px 10px;
}

.appcontent-container {
    background-color: #f2f2f2;
    flex: 1;
    max-height: calc(100vh - 64px);
    padding: 30px 10px;
    overflow: auto;
}